AI_TOOL_URL = 
GEMINI_API_KEY = gemini_api_key
GROQ_API_KEY = groq_api_key
PORT = 4000
ENVIRONMENT = local
ADMIN_PHRASE = "[ADMIN_PHRASE]"
AI_QUESTION_SCOPE = "This is a multiline scope for the original question.
It is to be answered by one AI tool and then reviewed by another."
AI_REVIEW_SCOPE = "This is a multiline scope for the reviewer.
It is going to receive the answer provided by one AI tool and look for errors"
